body {
    font-family: 'Teko', sans-serif;
    margin: 0;
    padding: 0;
    background: white;
}

h1 {
    color: white;
}

li {
    list-style: none;
}

header {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 0.2%;
    background: rgb(80, 34, 115);
    padding: 1.5%;
}

header img {
    margin-right: 20px;
}
.back{
 background: rgb(137, 134, 135);margin: 0.2%;
}
.back h2{
  margin:0.2%;padding:0.98%;width: 132px;color:rgb(80, 34, 115);
}
.back a{
text-decoration: none;
}
.back a h2:hover{
  background: lightgreen;text-align: center;
  width:150px;border-radius: 30px;text-decoration: underline;
}
section{
font-family: 'EB Garamond', serif;
padding:1.5%;margin:0.2%;background:rgb(52, 63, 113);
}
section article{
  margin: 0 20px;text-align: justify;
}
section p{
  color: white;font-size: 20px;
  letter-spacing: 0.5px;
  word-spacing: 1.5px;
}


footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0.2%;
    background: rgb(80, 34, 115);
    padding: 0.5%;
}
.block h3{
  color: white;
}
.block p{
  color: white;
}

.block a p{
    color: white;
    margin-top: 0;
}

.block img {
    margin-top: 15px;
    width: 50px;
    height: 50px;
}
@media (max-width: 600px) {
    section {
        flex-direction: column;
    }
    section img{
      width: 100%;
    }
    section article{
      margin: 0 2px;text-align: justify;
    }
    section .sidebar {
        width: 100%;
    }
    section .main {
        width: 100%;
        height: auto;
    }
    section .sidebar #picture img {
        width: 100%;
    }
    footer {
        flex-direction: column;
    }
    .block{
      margin-left: 5px;
    }
}
