/*Student Name: Naresh Baraili; Student Number: 17421481*/
/*https://axcqvnz.github.io/xla_csy1018_zrc/*/

body {/*css property for whole body of webpage*/
    font-family: 'Teko', sans-serif;
    margin: 0;
    padding: 0;
    background: white;
}

h1 {/*css style for all h1*/
    color: white;
}

li {/*css style for all list item*/
    list-style: none;
}

header {/*style for header*/
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 0.2%;
    background: rgb(80, 34, 115);
    padding: 1.5%;
}

header img {/*margin given to images present inside header*/
    margin-right: 20px;
}

.back {/*style for back class*/
    background: rgb(137, 134, 135);
    margin: 0.2%;
}

.back h2 {/*style for h2 of class back*/
    margin: 0.2%;
    padding: 0.98%;
    width: 132px;
    color: rgb(80, 34, 115);
}

.back a {/*style for link of class back*/
    text-decoration: none;
}

.back a h2:hover {/*style on hovering to back*/
    background: lightgreen;
    text-align: center;
    width: 150px;
    border-radius: 30px;
    text-decoration: underline;
}

section {/*style for section*/
    font-family: 'EB Garamond', serif;/*for the google webfont*/
    padding: 1.5%;
    margin: 0.2%;
    background: rgb(52, 63, 113);
}

section article {/*style for article inside of section*/
    margin: 0 20px;
    text-align: justify;
}

section p {/*style for paragraph of section*/
    color: white;
    font-size: 1.3em;
    letter-spacing: 0.5px;
    word-spacing: 1.5px;
}

footer {/*style for footer*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0.2%;
    background: rgb(80, 34, 115);
    padding: 0.5%;
}

.block h3 {/*style for h3 of class block inside footer*/
    color: white;
}

.block p {/*style for paragraph of class block inside footer*/
    color: white;
}

.block a {/* underline of link of footer removed */
    text-decoration: none;
}

.block a p {/*style for paragraph of link in footer*/
    color: white;
    margin-top: 0;
}

.block img {/*resized facebook logo*/
    margin-top: 15px;
    width: 50px;
    height: 50px;
}

@media (max-width: 800px) {/*style redefined for mobile screen*/
    section {
        flex-direction: column;
    }
    section img {
        width: 100%;
    }
    section article {
        margin: 0 0.1px;
        text-align: justify;
    }
    section .sidebar {
        width: 100%;
    }
    section .main {
        width: 100%;
        height: auto;
    }
    section .sidebar #picture img {
        width: 100%;
    }
    footer {
        flex-direction: column;
    }
    .block {
        margin-left: 5px;
    }
}
