/*Student Name: Naresh Baraili; Student Number: 17421481*/
/*https://axcqvnz.github.io/xla_csy1018_zrc/*/

body {/*css property for whole body of webpage*/
    font-family: 'Teko', sans-serif;
    margin: 0;
    padding: 0;
    background: white;
}

h1 {/*css style for all h1*/
    color: white;
}

li {/*css style for all list item*/
    list-style: none;
}

header {/*style for header*/
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 0.2%;
    background: rgb(80, 34, 115);
    padding: 1.5%;
}

header img {/*margin given to images present inside header*/
    margin-right: 20px;
}

.backz {/*style for back class*/
    background: rgb(137, 134, 135);
    margin: 0.2%;
}

.backz h2 {/*style for h2 of class back*/
    margin: 0.2%;
    padding: 0.98%;
    width: 132px;
    color: rgb(80, 34, 115);
}

.backz a {/*style for link of class back*/
    text-decoration: none;
}

.backz a h2:hover {/*style on hovering to back*/
    background: lightgreen;
    width: 150px;
    text-align: center;
    border-radius: 20px;
    text-decoration: underline;
}

section {/*style for section*/
    font-family: 'EB Garamond', serif;
    padding: 1.5%;
    margin: 0.2%;
    background: rgb(52, 63, 113);
}

section p {/*style for paragraph of section*/
    color: white;
    font-size: 1em;
    letter-spacing: 0.5px;
    word-spacing: 1.5px;
}

form .detail {/*css style for form*/
    display: flex;
    flex-direction: column;
}

form .detail input {/*css style for form*/
    width: 20%;
    height: 25px;
    margin-bottom: 5px;
}

textarea {/*css style for textarea*/
    height: 200px;
    width: 500px;
}

footer {/*style for footer*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0.2%;
    background: rgb(80, 34, 115);
    padding: 0.5%;
}

.blockz h3 {/*style for h3 of class block inside footer*/
    color: white;
}

.blockz p {/*style for paragraph of class block inside footer*/
    color: white;
}

.blockz a {/* underline of link of footer removed */
    text-decoration: none;
}

.blockz a p {/*style for paragraph of link in footer*/
    color: white;
    margin-top: 0;
}

.blockz img {/*resized facebook logo*/
    margin-top: 15px;
    width: 50px;
    height: 50px;
}

@media (max-width: 800px) {/*style redefined for mobile screen*/
    section {
        flex-direction: column;/*for showing the contents in columns*/
    }
    section .sidebar {
        width: 100%;
    }
    section .main {
        width: 100%;
        height: auto;
    }
    section .sidebar #picture img {
        width: 100%;
    }
    form .detail input {
        width: 100%;
    }
    textarea {
        width: 99%;
    }
    footer {
        flex-direction: column;
    }
    .blockz {
        margin-left: 5px;
    }
}
