body{
font-family: 'Teko', sans-serif;
margin: 0;padding:0;
background:white;
}
h1{
  color: white;
}
li{
  list-style: none;
}
header{
  display: flex;flex-direction: row;
  text-align: center;
  margin:0.2%;
  background:rgb(80, 34, 115);
  padding:1.5%;
}
header img{
  margin-right: 20px;
}
section{
font-family: 'EB Garamond', serif;
padding:1.5%;margin:0.2%;background:rgb(52, 63, 113);
}
section p{
  color: white;font-size: 16px;
  letter-spacing: 0.5px;
  word-spacing: 1.5px;
}
form .detail{
display: flex;flex-direction: column;
}
form .detail input{
  width: 20%;height: 25px;
  margin-bottom: 5px;
}
textarea{
  height: 200px;
  width: 500px;
}
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0.2%;
    background: rgb(80, 34, 115);
    padding: 0.5%;
}

footer .block {
    flex-grow: <1>;
}
.block h3{
  color: white;
}
.block p{
  color: white;
}

.block p a {
    color: blue;
    display: flex;
    flex-direction: column;
}

.block p a {
    color: blue;
}

.block img {
    width: 50px;
    height: 50px;
}
