/*Student Name: Naresh Baraili; Student Number: 17421481*/

body {/*css property for whole body of webpage*/
    font-family: 'Teko', sans-serif;
    margin: 0;
    padding: 0;
    background: white;
}

h1 {/*css style for all h1*/
    color: white;
}

li {/*css style for all list item*/
    list-style: none;
}

header {/*style for header*/
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 0.2%;
    background: rgb(80, 34, 115);
    padding: 1.5%;
}

header img {/*margin given to images present inside header*/
    margin-right: 20px;
}

.back {/*style for back class*/
    background: rgb(137, 134, 135);
    margin: 0.2%;
}

.back h2 {/*style for h2 of class back*/
    margin: 0.2%;
    padding: 0.98%;
    width: 132px;
    color: rgb(80, 34, 115);
}

.back a {/*style for link of class back*/
    text-decoration: none;
}

.back a h2:hover {/*style on hovering to back*/
    background: lightgreen;
    width: 150px;
    text-align: center;
    border-radius: 20px;
    text-decoration: underline;
}

section {/*style for section*/
    font-family: 'EB Garamond', serif;
    padding: 1.5%;
    margin: 0.2%;
    display: flex;
    flex-direction: column;
    background: rgb(204, 216, 216);
}

section h3 {/*style for h3 along the section*/
    font-size: 1.4em;
    margin-top: 0;
    margin-bottom: 0;
}

section p {/*style for paragraph of section*/
    font-size: 1.3em;
    text-align: justify;
    margin-top: 0;
    margin-bottom: 0;
}

section h1 {/*h1 of section styled*/
    font-size: 1.6em;
    color: black;
    text-align: center;
}

article {/*style for article*/
    margin: 0 5%;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

article .leftside{
  margin-right: 5%;
  margin-top: 2%;
}

article .rightside{
  margin-top: 2%;}

footer {/*style for footer*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0.2%;
    background: rgb(80, 34, 115);
    padding: 0.5%;
}

.block h3 {/*style for h3 of class block inside footer*/
    color: white;
}

.block p {/*style for paragraph of class block inside footer*/
    color: white;
}

.block a {/* underline of link of footer removed */
    text-decoration: none;
}

.block a p {/*style for paragraph of link in footer*/
    color: white;
    margin-top: 0;
}

.block img {/*resized facebook logo*/
    margin-top: 15px;
    width: 50px;
    height: 50px;
}

@media (max-width: 800px) {/*style redefined for mobile screen*/
    section {
        flex-direction: column;
    }
    article {
        flex-direction: column;
        margin: 0 0.1px;
        color: black;
    }
    section .sidebar {
        width: 100%;
    }
    section .main {
        width: 100%;
        height: auto;
    }
    section .sidebar #picture img {
        width: 100%;
    }
    footer {
        flex-direction: column;
    }
    .block {
        margin-left: 5px;
    }
}
