/*Student Name: Naresh Baraili; Student Number: 17421481*/
/*https://axcqvnz.github.io/xla_csy1018_zrc/*/

body {/*css property for whole body of webpage*/
    font-family: 'Teko', sans-serif;/*for google webfont*/
    margin: 0;
    padding: 0;
    background: white;
}

h1 {/*css style for all h1*/
    color: white;
}

li {/*css style for all list item*/
    list-style: none;
}

header {/*style for header*/
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 0.2%;
    background: rgb(80, 34, 115);
    padding: 1.5%;
}

header img {/*margin given to images present inside header*/
    margin-right: 20px;
}

.menubarz {/*style for menubar div*/
    background: rgb(137, 134, 135);
    margin: 0.2%;
}

.menubarz ul {/*styles for unordered list*/
    margin: 0.2%;
    padding: 0.5%;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menubarz ul li {/*styles for list items of menubar*/
    margin: 0;
    padding: 0.5%;
    text-decoration: none;
    -webkit-transition: -webkit-transform 0.1s;
    /* Safari */
    transition: transform 0.5s;
}

.menubarz ul li a{/*styles for link item of menubar*/
    font-size: 1.5em;
    color:rgb(80, 34, 115);
    text-decoration: none;
}

.menubarz ul li:hover {/*styles redefined when hovering on list items*/
    background: lightgreen;
    border-radius: 20px;
    width: 78px;
    text-align: center;
    color: blue;
    text-decoration: underline;
    -webkit-transform: rotate(-720deg);
    /* Safari */
    transform: rotate(-720deg);
}

section {/*style for section*/
    font-family: 'EB Garamond', serif;
    padding: 1.5%;
    margin: 0.2%;
    display: flex;
    flex-direction: row;
    background: rgb(52, 63, 113);
}

.sidebarz {/*margin given to sidebarz division*/
    margin-right: 4%;
}

.sidebarz h3 {/* h3 of sidebar div under section styled and repositioned*/
    text-align: center;
    background: white;
    color: black;
}
#picture img{/*little opacity to image given*/
  opacity: 0.9;
}
#picture img:hover{/*opacity removed on hover*/
  opacity:1;
}
.mainz {/*width of mainz division given*/
    width: 75%;
}

.mainz h3 {/*style and position of h3 of main division under section given*/
    text-align: center;
    background: white;
    color: black;
}

.mainz p {/*given instruction how a paragraph under main section should look like*/
    margin: 2%;
    color: white;
    font-size: 1.3em;
    text-align: justify;
}

footer {/*style for footer*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0.2%;
    background: rgb(80, 34, 115);
    padding: 0.5%;
}

.blockz h3{/*style for h3 of class blockz inside footer*/
  color: white;
}

.blockz p{/*style for paragraph of class block inside footer*/
  color: white;
}

.blockz a{/* underline of link of footer removed */
  text-decoration: none;
}

.blockz a p{/*style for paragraph of link in footer*/
    color: white;
    margin-top: 0;
}

.blockz img {/*resized facebook logo*/
    margin-top: 15px;
    width: 50px;
    height: 50px;
}

@media (max-width: 800px) {/*style redefined for mobile screen*/
    .menubarz ul{
      flex-direction: column;
      }
    .menubarz ul li {
      width: 72px;
    }

    .menubarz ul li:hover {
        background: lightgreen;
        border-radius: 5px;
        width: 78px;
        text-align: left;
        color: blue;
        text-decoration: underline;
        -webkit-transform: rotate(0deg);/* Safari */
        transform: rotate(0deg);
      }
    section {
        flex-direction: column;
    }
    section .sidebarz {
        width: 100%;
    }
    section .mainz {
        width: 100%;
        height: auto;
    }
    section .sidebarz #picture img {
        width: 100%;
    }
    footer {
        flex-direction: column;
    }
    .blockz{
      margin-left: 5px;
    }
}
