body {
    font-family: 'Teko', sans-serif;
    margin: 0;
    padding: 0;
    background: white;
}

h1 {
    color: white;
}

li {
    list-style: none;
}

header {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 0.2%;
    background: rgb(80, 34, 115);
    padding: 1.5%;
}
header img {
    margin-right: 20px;
}

.menubar {
    background: rgb(137, 134, 135);
    margin: 0.2%;
}

.menubar ul {
    margin: 0.2%;
    padding: 0.5%;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menubar ul li {
    margin: 0;
    padding: 0.5%;
    text-decoration: none;
    -webkit-transition: -webkit-transform 0.1s;
    /* Safari */
    transition: transform 1s;
}

.menubar ul li a{
    font-size: 25px;
    color:rgb(80, 34, 115);
    text-decoration: none;
}

.menubar ul li:hover {
    background: lightgreen;
    border-radius: 20px;
    width: 78px;
    text-align: center;
    color: blue;
    text-decoration: underline;
    -webkit-transform: rotate(-720deg);
    /* Safari */
    transform: rotate(-720deg);
}
section {
    font-family: 'EB Garamond', serif;
    padding: 1.5%;
    margin: 0.2%;
    display: flex;
    flex-direction: row;
    background: rgb(52, 63, 113);
}

.sidebar {
    margin-right: 4%;
}

.sidebar h3 {
    text-align: center;
    background: white;
    color: black;
}
#picture img{
  opacity: 0.9;
}
#picture img:hover{
  opacity:1;
}
.main {
    width: 75%;
}

.main h3 {
    text-align: center;
    background: white;
    color: black;
}

.main p {
    margin: 2%;
    color: white;
    font-size: 20px;
    text-align: justify;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0.2%;
    background: rgb(80, 34, 115);
    padding: 0.5%;
}

.block h3{
  color: white;
}
.block p{
  color: white;
}

.block a p{
    color: white;
    margin-top: 0;
}

.block img {
    margin-top: 15px;
    width: 50px;
    height: 50px;
}

@media (max-width: 800px) {
    .menubar ul{
      flex-direction: column;
      }
      .menubar ul h2 li{
        margin: 15px 0;
        }

    .menubar ul h2:hover {
        background: lightgreen;
        border-radius: 5px;
        width: 78px;
        text-align: left;
        color: blue;
        text-decoration: underline;
        -webkit-transform: rotate(0deg);/* Safari */
        transform: rotate(0deg);
      }
    section {
        flex-direction: column;
    }
    section .sidebar {
        width: 100%;
    }
    section .main {
        width: 100%;
        height: auto;
    }
    section .sidebar #picture img {
        width: 100%;
    }
    footer {
        flex-direction: column;
    }
    .block{
      margin-left: 5px;
    }
}
